<div id="filter">
    <form action="">
        <div>
            <div class="form-group">
                <h2>legkorábban ekkor:</h2>
                <div id="from"></div>
                <h2>legkésőbb eddig:</h2>
                <div id="to"></div>
            </div>
        </div>
    </form>
</div>
